.card-one-day{
  font-family: monospace;
  font-size: 2em;
  background: #ffffff;
}

.logo{
  width: 50px !important;
  height: 50px !important;
  display: inline-block !important;
  vertical-align: middle !important;
}
