.logo-cellphone {
  width: 80px;
  margin-right: 25px;
}

.navbar {
  background: linear-gradient(70deg, #4293dd, #53a3ec);
  padding: 10px;
}

nav a{
  color: black;
  font-weight: bold;
  font-size: 20px;
  margin: 0px 5px 0px 5px;
}

nav a:hover{
  color: rgba(0, 0, 0, 0.5);
}
