.logo-weather {
  width: 80px;
  margin-right: 25px;
}

.navbar {
  background: #00d4ff;
  padding: 10px;
}

nav a{
  color: black;
  font-weight: bold;
  font-size: 20px;
  margin: 0px 5px 0px 5px;
}

nav a:hover{
  color: rgba(0, 0, 0, 0.5);
}

//=============Responsive============

@media only screen and (max-width: 600px){
  .logo-weather {
    width: 60px;
    margin-right: 15px;
  }
}
