@font-face {
  font-family: 'Bainsley Roman';
  src: url('../assets/fonts/Bainsley_Roman.otf');
}

body{
  font-family: 'Bainsley Roman';
  margin: 0px;
  padding: 0px;
  font-size: 1.5em;
}

.home-page{
  height: 90vh;
}

.select-cities{
  border: 1px solid black;
  padding: 10px 20px;
  margin: 5px;
  font-size: 1em;
}

.loading{
  display: flex;
  justify-content: center;
  align-items: center;
}

//=============Responsive============

@media only screen and (max-width: 650px){
  .swiper-button-prev{
    display: none !important;
  }
  .swiper-button-next{
    display: none !important;
  }
}

//=============SwiperSlide============

.swiper-container{
  width: 50%;
  height: 50%;
  margin-top: 80px;
  position: static !important;
}

.swiper-slide{
  text-align: center;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img{
  display: block;

  object-fit: cover;
}
