@font-face {
  font-family: 'Bainsley Roman';
  src: url('../assets/fonts/Bainsley_Roman.otf');
}

body{
  font-family: 'Bainsley Roman';
  margin: 0px;
  padding: 0px;
}

.home-page{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 25px;
  margin: 25px;
}
